body {
    background-color: #12172b;
}

.title {
    border: 1px solid #fff;
    color: white;
    border-radius: 5px;
}


.wrapper {
    background: #1e2758;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid #fff;
}

.counter__display {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    font-size: 30px;
    border: 1px solid #fff;
    color: white;
    border-radius: 5px;
}

.error {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    font-size: 30px;
    border: 1px solid #fff;
    color: white;
    border-radius: 5px;

}

.counter__buttons {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;

}

.counter__buttons button {
    padding: 5px 10px;
    background-color: #041430;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    border: 1px solid #fff;

}

.counter__buttons button:disabled {
    background-color: grey;
}






